#TextBox .content {
    -fx-background-color: black;
}

#TextBox {
    -fx-text-fill: green;
    -fx-font-size: 15px;
}

#MakeBut {
    -fx-background-color: cyan;
}

#OuterPane {
    -fx-background-color: black;
}

.tab-pane .tab:selected
{
    -fx-background-color: chartreuse;
}

.tab-pane .tab {
    -fx-background-color: #e6e6e6;
}

#TextMain {
    -fx-background-color: white;
}

#TextMain .scroll-pane {
    -fx-background-color: black;
}

#TextMain .scroll-pane .viewport{
    -fx-background-color: white;
}


#TextMain .scroll-pane .content{
    -fx-background-color: #292f38;
}

#Split *.split-pane-divider{
    -fx-pref-width: 10px;
}