#CodeArea .text{
    -fx-fill: white;
    -fx-font-size: 20px;
}

#CodeArea .text.num{
    -fx-fill: aqua;
    -fx-font-weight: bold;
}


#CodeArea .text.keyword {
    -fx-fill: #AF5DCD;
    -fx-font-weight: bold;
}


#CodeArea .text.semicolon {
    -fx-font-weight: bold;
    -fx-fill: #AF5DCD;
}
#CodeArea .text.paren {
    -fx-fill: white;
}
#CodeArea .text.bracket {
    -fx-fill: white;
    -fx-font-weight: bold;
}
#CodeArea .text.brace {
    -fx-fill: white;
    -fx-font-weight: bold;
}
#CodeArea .text.string {
    -fx-fill: #98C379;
}
#CodeArea .text.charac {
    -fx-fill: #EC407A;
}
#CodeArea {
    -fx-background-color:#282C34;
}

#CodeArea .text.comment {
     -fx-fill: #577165;
 }

#CodeArea .text.const{
    -fx-fill : #E5C07B;
}

#CodeArea .caret{
    -fx-stroke: red;
}